$primary-color: darkblue;
$background-color: #eee;
$primary-header-color: #e58e24;
$large-icon-font: 50px;
// Chrome applies an 8px margin by default (gross).
body {
    margin: 0px;
}

.horizontalCenter {
    margin: 0 auto;
    text-align: center;
    margin-left: 2em;
    margin-right: 2em;
    // width: 100%;
}

.popupContainer {
    align-items: center;
    background-color: $background-color;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: 20px;
    min-height: 275px;
    min-width: 550px;
}

.left {
    width: auto;
    overflow: hidden;
}

.right {
    float: right;
}

.largeIcon {
    font-size: $large-icon-font;
}

.yellow {
    color: yellow;
}

.hoverpointer {
    cursor: pointer;
}