$item: white;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

ul 
  li {
  list-style-type: none;  
}

.listItem {
  min-height: 40px;
    background-color: $item;
    border-bottom:1px solid grey;
    border-left: 1px solid #bcbcbc;
    margin-right: 35px;
    margin-bottom: 2px;
    position: relative;
    cursor: pointer;
}

.listItem:hover {
  box-shadow: $shadow;
}

.cross-out {
  text-decoration: line-through;
}

.label {
  margin-left: 5px;
}

.ListItem__closeButton {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
